/*
#005799 primary: "ultramarine" (0, 87, 153) 
#009568 related: "sea green" (0, 149, 104)  
#e99c22 compliment: "amber" (233, 156, 34)
#d9195c compliment related: "crimson" (217, 25, 92)
*/
pre {
  border: 1px dotted gray;
  background-color: #ececec;
  color: #1111111;
  padding: 0.5em;
}
code { font-family: monospace; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: none; color: #0057999; }
h1, h2, h3, h4, h5 {
  font-family: verdana;
  font-weight: bold;
  border-bottom: 1px dotted black;
  color: #005799;
  clear: both;
}
h1 { font-size: 130%; }
h2 { font-size: 110%; }
h3 { font-size: 95%; }
h4, h5 { font-size: 90%; font-style: italic; }

h1.title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  border: none;
}

body {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 730px; 
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 90%;
  line-height: 140%;
}

.footer {
  padding-top: 1em;
  font-size: 70%;
  color: gray;
  text-align: center;
}

.sidebar {
  width: 200px;
  position: fixed;
  left: 50%;
  top: 0px;
  margin: 0 0 0 -575px;
  font-family: Verdana, sans-serif;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ccis-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.menu {
  padding: 0px;
  margin: 0px;
  font-size: 130%;
  line-height: 130%;
}

.menu li {
  list-style-type: none;
}

#TOC {
  float: left;
  border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#TOC:before { content: "Page Contents"; }

dt code { font-weight: bold; }
dd p { margin-top: 0; }

