<!-- Test  (test_rxkinfu_ros.cpp).                             -->
<!-- Author: Dimitrios Kanoulas (dkanoulas@gmail.com)          -->
<!-- Run: > roslaunch rxkinfu_ros test_rxkinfu_ros.launch      -->

<launch>
  <node pkg="rxkinfu_ros"
        name="rxkinfu_ros_test"
        type="rxkinfu_ros_test"
        respawn="false"
        output="screen"
        args=""
  />
  
  <!-- Load params from the YAML file to the parameter server -->
  <rosparam file="$(find rxkinfu_ros)/config/rxkinfu_ros.yaml" command="load" />
  
</launch>